{{#each shifts}}
<div  id='shift{{@index}}' onclick="shiftSelected('{{this._id}}', '{{this.employee._id}}', {{@index}})">

    {{#if this.employee}}
    <li>Ansat: {{this.employee.name}}</li>
{{else}}
    <li>Ingen ansat</li>
    {{/if}}
    <li>Dato: {{formatDate this.start}}</li>
    <li>Starttid: {{formatTime this.start}}</li>
    <li>Sluttid: {{formatTime this.end}}</li>
</div>
{{/each}}

