{{#each shifts}}
<div onclick="shiftSelected('{{this.employee.name}}', '{{this.start}}', '{{this.end}}', '{{this.totalHours}}')">
    {{#if this.employee}}
    <li>Ansat: {{this.employee.name}}</li>
{{else}}
    <li>Ingen ansat</li>
    {{/if}}
    <li>Dato: {{formatDate this.start}}</li>
    <li>Starttid: {{formatTime this.start}}</li>
    <li>Sluttid: {{formatTime this.end}}</li>
</div>
{{/each}}

